// flexbox

/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */
/* ROBADO DO BOOTSTRAP: SEÇÃO DE FLEX E COLUNAS */
/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */

.row {
    /* We first create a flex layout context */
    display: flex;
  
    /* Then we define the flow direction
       and if we allow the items to wrap
     * Remember this is the same as:
     * flex-direction: row;
     * flex-wrap: wrap;
     */
    flex-flow: row wrap;
  
    /* Then we define how is distributed the remaining space */
    justify-content: space-between;
  
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .col__2 {
    padding: 5px;
    width: 16.66%;
    height: 100%;
    margin-top: 10px;
    text-align: center;
  }

  .col__3 {
    padding: 5px;
    width: 25%;
    height: 100%;
    margin-top: 10px;
    text-align: center;
  }
  
  .col__4 {
    padding: 5px;
    width: 33%;
    margin-top: 10px;
    text-align: center;
  }
  
  .col__6 {
    padding: 5px;
    width: 50%;
    height: 100%;
    margin-top: 10px;
    text-align: center;
  }

  .col__8 {
    padding: 5px;
    width: 66%;
    height: 100%;
    margin-top: 10px;
    text-align: center;
  }

  .col__9 {
    padding: 5px;
    width: 75%;
    height: 100%;
    margin-top: 10px;
    text-align: center;
  }

  .col__10 {
    padding: 5px;
    width: 83.33%;
    height: 100%;
    margin-top: 10px;
    text-align: center;
  }
  
  .col__12 {
    padding: 5px;
    width: 100%;
    height: 100%;
    margin: 10px 0px;
    text-align: center;
  }
  
  @media screen and (max-width: 1080px) {
    .col,
    .col__2,
    .col__3,
    .col__4,
    .col__6,
    .col__8,
    .col__9,
    .col__10,
    .col__12 {
      width: 50%;
    }
  }
  
  @media screen and (max-width: 680px) {
    .col,
    .col__2,
    .col__3,
    .col__4,
    .col__6,
    .col__8,
    .col__9,
    .col__10,
    .col__12 {
      width: 100%;
    }
  }